.container-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.portfolio-button {
  @include font(16px, 500, 26px);
  text-align: center;
  letter-spacing: 0.03em;
  color: #000;
  border: none;
  font-family: inherit;
  border-radius: 4px;
  padding: 6px 22px;
  margin-right: 8px;
  transition: background-color var(--speed) var(--cubic),
    color var(--speed) var(--cubic), box-shadow var(--speed) var(--cubic);

  &:hover,
  &:focus {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
    color: var(--background-accent-color);
    background: var(--accent-color);
  }
}
