.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.work-element {
  display: flex;
  flex-wrap: wrap;
}

.work-list {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
  transition: box-shadow var(--speed) var(--cubic);

  &:nth-child(3n) {
    margin-right: 0;
  }

  &:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
    cursor: pointer;
  }
}

.work-list-blok {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  color: var(--background-accent-color);
  background: rgba(33, 150, 243, 0.9);
  padding: 63px 23px;
  overflow: auto;
  transform: translate(0, 100%);
  transition: transform var(--speed) var(--cubic);

  .work-list:hover & {
    transform: translate(0, 0);
  }
}

.work-element-name {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  border: 1px solid #eeeeee;
}

.description-work {
  @include font(18px, 700, 36px);
  letter-spacing: 0.06em;
  color: var(--second-accent-color);
  margin-bottom: 4px;
}

.task-types {
  @include font(16px, 400, 30px);
  letter-spacing: 0.03em;
  color: var(--accent-text-color);
}
