.address-tel-container {
    display: flex;
    align-items: center;

    @media (max-width: 480px){
      display: none;
    }

    @media screen and (min-width: 481px) and (max-width: 1200px) {
      display: block;
    }
  }