.page-nav__menu-link {
  position: relative;
  padding: 32px 0;
  display: flex;
  color: var(--second-accent-color);
  transition: color var(--speed) var(--cubic);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }

  &.current::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    display: flex;
    bottom: 0;
    left: 0;
    background: #2196f3;
    border-radius: 2px;
  }

  & .current {
    color: var(--accent-color);
  }
}
