:root {
  --accent-color: #2196f3;
  --second-accent-color: #212121;
  --accent-text-color: #757575;
  --background-accent-color: #ffffff;
  --background-second-color: #2f303a;
  --fill-color: #afb1b8;
  --background-accent-button: #188ce8;
  --speed: 250ms;
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
}
